<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hqh.android.dao.GpsMapper">
  <resultMap id="BaseResultMap" type="com.hqh.android.entity.Gps">
    <id column="ksxm" jdbcType="VARCHAR" property="ksxm" />
    <id column="ks_lsh" jdbcType="VARCHAR" property="ksLsh" />
    <id column="kscs" jdbcType="INTEGER" property="kscs" />
    <result column="kskm" jdbcType="VARCHAR" property="kskm" />
    <result column="carinfo_id" jdbcType="VARCHAR" property="carinfoId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.hqh.android.entity.Gps">
    <result column="gps" jdbcType="LONGVARCHAR" property="gps" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ksxm, ks_lsh, kscs, kskm, carinfo_id
  </sql>
  <sql id="Blob_Column_List">
    gps
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.hqh.android.entity.GpsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gps
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.hqh.android.entity.GpsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gps
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.hqh.android.entity.GpsKey" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gps
    where ksxm = #{ksxm,jdbcType=VARCHAR}
    and ks_lsh = #{ksLsh,jdbcType=VARCHAR}
    and kscs = #{kscs,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.hqh.android.entity.GpsKey">
    delete from gps
    where ksxm = #{ksxm,jdbcType=VARCHAR}
    and ks_lsh = #{ksLsh,jdbcType=VARCHAR}
    and kscs = #{kscs,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hqh.android.entity.GpsExample">
    delete from gps
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hqh.android.entity.Gps">
    insert into gps (ksxm, ks_lsh, kscs,
    kskm, carinfo_id, gps
    )
    values (#{ksxm,jdbcType=VARCHAR}, #{ksLsh,jdbcType=VARCHAR}, #{kscs,jdbcType=INTEGER},
    #{kskm,jdbcType=VARCHAR}, #{carinfoId,jdbcType=VARCHAR}, #{gps,jdbcType=LONGVARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.hqh.android.entity.Gps">
    insert into gps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ksxm != null">
        ksxm,
      </if>
      <if test="ksLsh != null">
        ks_lsh,
      </if>
      <if test="kscs != null">
        kscs,
      </if>
      <if test="kskm != null">
        kskm,
      </if>
      <if test="carinfoId != null">
        carinfo_id,
      </if>
      <if test="gps != null">
        gps,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ksxm != null">
        #{ksxm,jdbcType=VARCHAR},
      </if>
      <if test="ksLsh != null">
        #{ksLsh,jdbcType=VARCHAR},
      </if>
      <if test="kscs != null">
        #{kscs,jdbcType=INTEGER},
      </if>
      <if test="kskm != null">
        #{kskm,jdbcType=VARCHAR},
      </if>
      <if test="carinfoId != null">
        #{carinfoId,jdbcType=VARCHAR},
      </if>
      <if test="gps != null">
        #{gps,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hqh.android.entity.GpsExample" resultType="java.lang.Long">
    select count(*) from gps
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gps
    <set>
      <if test="record.ksxm != null">
        ksxm = #{record.ksxm,jdbcType=VARCHAR},
      </if>
      <if test="record.ksLsh != null">
        ks_lsh = #{record.ksLsh,jdbcType=VARCHAR},
      </if>
      <if test="record.kscs != null">
        kscs = #{record.kscs,jdbcType=INTEGER},
      </if>
      <if test="record.kskm != null">
        kskm = #{record.kskm,jdbcType=VARCHAR},
      </if>
      <if test="record.carinfoId != null">
        carinfo_id = #{record.carinfoId,jdbcType=VARCHAR},
      </if>
      <if test="record.gps != null">
        gps = #{record.gps,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update gps
    set ksxm = #{record.ksxm,jdbcType=VARCHAR},
    ks_lsh = #{record.ksLsh,jdbcType=VARCHAR},
    kscs = #{record.kscs,jdbcType=INTEGER},
    kskm = #{record.kskm,jdbcType=VARCHAR},
    carinfo_id = #{record.carinfoId,jdbcType=VARCHAR},
    gps = #{record.gps,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gps
    set ksxm = #{record.ksxm,jdbcType=VARCHAR},
    ks_lsh = #{record.ksLsh,jdbcType=VARCHAR},
    kscs = #{record.kscs,jdbcType=INTEGER},
    kskm = #{record.kskm,jdbcType=VARCHAR},
    carinfo_id = #{record.carinfoId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqh.android.entity.Gps">
    update gps
    <set>
      <if test="kskm != null">
        kskm = #{kskm,jdbcType=VARCHAR},
      </if>
      <if test="carinfoId != null">
        carinfo_id = #{carinfoId,jdbcType=VARCHAR},
      </if>
      <if test="gps != null">
        gps = #{gps,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ksxm = #{ksxm,jdbcType=VARCHAR}
    and ks_lsh = #{ksLsh,jdbcType=VARCHAR}
    and kscs = #{kscs,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hqh.android.entity.Gps">
    update gps
    set kskm = #{kskm,jdbcType=VARCHAR},
    carinfo_id = #{carinfoId,jdbcType=VARCHAR},
    gps = #{gps,jdbcType=LONGVARCHAR}
    where ksxm = #{ksxm,jdbcType=VARCHAR}
    and ks_lsh = #{ksLsh,jdbcType=VARCHAR}
    and kscs = #{kscs,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqh.android.entity.Gps">
    update gps
    set kskm = #{kskm,jdbcType=VARCHAR},
    carinfo_id = #{carinfoId,jdbcType=VARCHAR}
    where ksxm = #{ksxm,jdbcType=VARCHAR}
    and ks_lsh = #{ksLsh,jdbcType=VARCHAR}
    and kscs = #{kscs,jdbcType=INTEGER}
  </update>
  <update id="appendGPSByPrimaryKey" parameterType="com.hqh.android.entity.Gps">
    update gps
    set gps =  #{gps,jdbcType=VARCHAR}
    where ksxm = #{ksxm,jdbcType=VARCHAR}
    and ks_lsh = #{ksLsh,jdbcType=VARCHAR}
    and kscs = #{kscs,jdbcType=INTEGER}
  </update>
</mapper>